<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCmYj-xeYB_C6sjJvPF61hXjADbBKxdipU</string>
	<key>GCM_SENDER_ID</key>
	<string>485893183004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.furkanvural.Code-Buddy</string>
	<key>PROJECT_ID</key>
	<string>codebuddy-8e66f</string>
	<key>STORAGE_BUCKET</key>
	<string>codebuddy-8e66f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485893183004:ios:52b8ec12cf758e9bde71d9</string>
</dict>
</plist>